.container {
    width: 1120px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.inputContainer {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.buttonContainer {
    display: flex;
    padding: 1rem 0;
}

.modify {
    color: #388092;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
    width: 120px;
    display: flex-start;
    /* justify-content: start; */
}

.modify:hover {
    color: rgb(135, 135, 135);
}

.removeGroup {
    color: red;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
    width: 180px;
    display: flex-start;
    /* justify-content: start; */
}

.removeGroup:hover {
    color: rgb(253, 119, 119);
}

.name {
    color: #388092;
    font-weight: 500;
}

.error {
    color: red;
}

.nameInput {
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    width: 100%;
    padding: 0.5rem 1rem;
}

textarea {
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    width: 100%;
    padding: 0.5rem 1rem;
}

.chooseOne {
    background-color: rgb(197, 197, 197);
    cursor: pointer;
    border: none;
    padding: 1rem;
    color: white;
    width: 100px;
}

.chosen {
    background-color: darkgray;
}

.titleContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 2rem;
}

.groupSettingTitle {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.disabled {
    pointer-events: none;
    color:rgb(197, 197, 197);
}

.groupImageContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    row-gap: 8px;
}

.imageRemove {
    font-weight: 500;
    cursor: pointer;
    color: #388092;
    text-align: center;
}

.imageRemove:hover {
    color: #4bacc4;
}

.groupImageAdd {
    padding: 1rem;
    font-weight: 500;
    color: #388092;
    cursor: pointer;
}

.groupImageAdd:hover {
    color: #4bacc4;
}

.imgCon {
    height: 140px;
}

.groupImages {
    object-fit: cover;
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
}

.imageContainer {
    display: grid;
    grid-template-rows: 140px 50px;
    align-items: center;
    justify-items: center;
}

.imageInput {
    width: 600px;
    border-radius: 8px;
    border: 1px solid #c8c8c8;
    padding: 0.5rem 1rem;
    margin-top: 8px;
}

.imageInputContainer {
    display: flex;
}

.add {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #388092;
    font-weight: 500;
    margin-left: 1rem;
}

.venueMapContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 8px;
}

.mapContainer {
    display: inline-block;
}

.mapAddress {
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 8px;
}
