.header {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.container {
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.leftSide {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.rightSide {
    display: flex;
    align-items: center;
}

span {
    margin-right: 2rem;
    font-weight: 500;
    color: #388092;
}
