.container {
    width: 484px;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    padding: 36px 70px 32px 70px;
    top: 60px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
    max-height: 100%;
    overflow-y: auto;
}

.containerVisible {
    top: 20px;
    visibility: visible;
    opacity: 1;
}

.closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.stretch {
    width: 100%;
    padding-bottom: 4px;
}

.password {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 8px;
}

.top {
    text-align: center;
    line-height: 2rem;
    padding-bottom: 2rem;
}

.label {
    font-weight: 700;
}

.input {
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: 1px solid darkgray;
}

.input:focus {
    border: 1px solid #388092;
    outline: none;
}

.error {
    color: red;
    font-size: 0.875rem;
    padding-bottom: 1rem;
    height: 1.5rem;
}

.forgotPassword, .keepMeSignedIn {
    font-size: 0.875rem;
}

.checkBox {
    accent-color: #388092;
    width: 1.5rem;
}

.alignCenter {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.submitButton {
    width: 100%;
    border-radius: 8px;
    background-color: #e4635e;
    color: white;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.7rem;
    cursor: pointer;
}

.form {
    margin-bottom: 2rem;
}
