.header {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    height: 64px;
}

.container {
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
